.logo-container{
    z-index: 0;
    border-radius: 50%;
    width: 400px;
    height: 608px;
    position: absolute;
    top: 0;
    right: 27%;
    bottom: 0;
    left: auto;
    margin: auto;
    
    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 145%;
        border-radius:50%;
        z-index: 1;
    }
}