@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    h1{
        font-size: 90px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 10px;
        left: -10px;
        color: #00ffd5;
        animation: pulse 1s;
        &:nth-of-type(1){
            animation-delay: 1.2s;
        }
    }

    p{
        font-style: 13px;
        color: rgb(216, 213, 213);
        font-size: 17px;
        font-family: 'sans-serif';
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1.2s;

        &:nth-of-type(1){
            animation-delay: 1.3s;
        }
        &:nth-of-type(2){
            animation-delay: 1.4s;
        }
        &:nth-of-type(3){
            animation-delay: 1.5s;
        }
    }

    h2{
        font-size: 90px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 10px;
        left: -10px;
        color: #00ffd5;
        animation: pulse 1.4s;
        &:nth-of-type(1){
            animation-delay: 1.3s;
        }
    }
    li{
        font-style: 13px;
        color: rgb(216, 213, 213);
        font-size: 17px;
        font-family: 'sans-serif';
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1.6s;
        &:nth-of-type(1){
            animation-delay: 1.3s;
        }
        &:nth-of-type(2){
            animation-delay: 1.4s;
        }
        &:nth-of-type(3){
            animation-delay: 1.5s;
        }
        &:nth-of-type(4){
            animation-delay: 1.6s;
        }
        &:nth-of-type(5){
            animation-delay: 1.7s;
        }
    }

}

.About {
    // width: 50%;
    // margin: 10rem auto;
    // margin-top: 150px;
  }
  
  .slide img {
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
  }
  
  .slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
  }
  
  .activeSlide {
    transform: scale(1);
    opacity: 1;
    position: relative;
    left:-11%;
  }
  /*

  Below you can change arrow color with
  'color:'

  */
  .arrow {
    background-color: #022c43;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    color: white;
    transform: scale(2);
  }
  
  .arrow svg {
    transition: color 300ms;
  }
  
  .arrow svg:hover {
    color: #68edff;
  }
  
  .next {
    right: 0%;
    top: 50%;
  }
  
  .prev {
    left: 0%;
    top: 50%;
  }

/*

  Control the entire carousel with .caro;
  the div className called in about.js

  */

  .caro {
    width:45%;
    position: absolute;
    top:30%;
    left: 50%;
  }
